{% extends 'base.html.twig' %}

{% block title %}Catégorie {{ category.label }}{% endblock %}

{% block body %}



        <div class="container">

            <h1 class="mb-3">Catégorie : {{ category.label }}</h1>

            <div class="container">
                <section class="row">
                    {% for traobject in traobjects %}
                        {% include 'traobject/card.html.twig' with {'traobject': traobject} %}
                    {% endfor %}
                </section>
            </div>
        </div>





{% endblock %}
