{% extends 'base.html.twig' %}

{% block title %}Nouvelle annonce{% endblock %}

{% block body %}
<div class="container">
    <h1>Déposer une annonce</h1>

    {{ include('traobject/_form.html.twig') }}

    <a href="{{ path('homepage') }}">Annuler</a>
</div>
{% endblock %}
