{% extends "base.html.twig" %}

{% block body %}
    <div class="container">
        <h2>Les derniers objets perdus</h2>
        <section class="row">
            {% for traobject in traobjects_lost %}
                {% include 'traobject/card.html.twig' with {'traobject': traobject} %}
            {% endfor %}
        </section>
    </div>
{% endblock %}
