{% extends 'base.html.twig' %}

{% block title %}Mon Compte{% endblock %}

{% block body %}

<section class="container">

    <h1>Editer mon profil</h1>

    {{ include('user/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a class="btn-outline-danger btn mt-2 mb-2" href="{{ path('homepage') }}">Annuler</a>

</section>

{% endblock %}
